<script setup lang="ts">
    import { useTheme } from 'vuetify';
    import { ref, onMounted } from 'vue';

    const useDarkMode = ref(false);
    const theme = useTheme();

    const toggleTheme = () => {
        theme.global.name.value = useDarkMode.value ? 'light' : 'dark';
        localStorage.setItem('use_dark_theme', useDarkMode.value ? 'false' : 'true');
    }

    onMounted(() => {
        useDarkMode.value = localStorage.getItem('use_dark_theme') === 'true';
    });

</script>

<template>
    <v-container>
        <h1>Settings</h1>
        <v-expansion-panels>
            <v-expansion-panel>
                <v-expansion-panel-title>App</v-expansion-panel-title>
                <v-expansion-panel-text>
                    <v-list>
                        <v-list-item>
                            <v-checkbox
                                v-model="useDarkMode"
                                label="Use dark mode"
                                type="checkbox"
                                @click="toggleTheme"
                            ></v-checkbox>
                        </v-list-item>
                    </v-list>
                </v-expansion-panel-text>
            </v-expansion-panel>
        </v-expansion-panels>
    </v-container>
</template>
