<script setup lang="ts">

const menuItems = [
    {
        title: 'Dashboard',
        value: '/'
    },
    {
        title: 'Week',
        value: '/week'
    },
    {
        title: 'Tasks',
        value: '/tasks'
    },
];
</script>

<template>
    <v-app-bar
        :elevation="0"
        rounded
        image="/images/sticky_notes.jpg"
    >
        <v-menu>
            <template v-slot:activator="{ props }">
                <v-app-bar-nav-icon variant="text" v-bind="props" />
            </template>
            <v-list>
                <v-list-item
                    v-for="(item, index) in menuItems"
                    :key="index"
                    :value="index"
                >
                    <v-list-item-title>
                        <router-link :to="item.value">{{ item.title }}</router-link>
                    </v-list-item-title>
                </v-list-item>
            </v-list>
        </v-menu>
        <v-app-bar-title>
            Task manager
        </v-app-bar-title>
        <template v-slot:image>
            <v-img gradient="to top right, rgba(19,84,122,.8), rgba(128,208,199,.8)" />
        </template>
        <template v-slot:append>
            <v-btn icon="mdi-heart" />
            <v-btn icon="mdi-magnify" />
            
            <router-link to="/app_settings">
                <v-btn color="white" icon="mdi-cog" />
            </router-link>
        </template>
    </v-app-bar>
</template>