<script setup lang="ts">
import LayoutHeader from './LayoutHeader.vue';

</script>

<template>
    <v-app>
        <layout-header/>
        <v-main>
            <slot></slot>
        </v-main>
    </v-app>
</template>